{% extends 'base.html' %} <!-- Add this for inheritance -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
  {% include 'partials/nav-bar.html' %}
    <p>
    OBJECTIVE:
    <p>Accomplished Software Engineer with proven track record and strong analytical, problem-solving
    expertise with a passion for building lasting relationships. Hands-on curious engineer with 5.5+ years of
      overall IT experience as a leader , a key team member in the development of numerous projects.</p>
  <p>SUMMARY:</p>

    <ul type="square">

        <li>5.5+ years of experience in design, development, integration and maintaining systems using
            Python, Flask, Restful API’s and microservices architecture.</li>
        <li>Designed and developed continuous integration using Python, Flask, GitHub and Jenkins.</li>
        <li>Understanding of the threading limitations of Python, and multi-process architecture.</li>
        <li>Defined branching strategies in GitHub and implementation of best practices.</li>
        <li>Experienced in Agile Methodologies and SCRUM Process.</li>
        <li>Experience with Unit testing/ Test driven Development (TDD).</li>
        <li>Understanding of distributed systems, including good working knowledge of storage, networking,
            and File/Object technologies.</li>
        <li>Experienced with automatic testing with PyUnit, PyTest modules.</li>
        <li>Hands on implementation of DevOps end to end solutions in agile product development lifecycle.</li>
        <li>Experienced with Jira for daily scrums and work management.</li>
        <li>Experience with object-oriented programming (OOPS) concepts using Python .</li>
        <li>Experience in using UNIX shell Scripts for automating batch programs.</li>
        <li>Experience with defining continuous integration/continuous delivery pipelines using JSON or
            YAML .</li>
        <li>Experience with debugging, used pydebug and debugging using IDE ’s like PyCharm .</li>

    </ul>
    <p>TECHNOLOGIES</p>
  <thead>
    <style>
         table, th, td {
            border: 1px solid black;
         }
      </style>
  </thead>
  <table>
         <tr>
            <td>Languages</td>
            <td>Python, Shell Script, Bash Script</td>
         </tr>
         <tr>
            <td>Python Framework</td>
            <td> PyUnit, Flask, Requests, Paramiko, PyQT, Tkinter</td>
         </tr>
         <tr>
            <td>Databases</td>
            <td>MongoDB, MySQL, SQL lite</td>
         </tr>
        <tr>
            <td>Versioning Tools</td>
            <td>GitHub, Bitbucket</td>
         </tr>
        <tr>
            <td>Operating systems</td>
            <td>CentOS, Linux/Unix, MAC OS, Ubuntu</td>
         </tr>
        <tr>
            <td>APIs</td>
            <td>JSON REST API</td>
         </tr>
      </table>
    </p>
  <p>Professional Experience</p>
  <p>  Google Cloud, Sunnyvale, CA<br>
       Software Engineer<br>
       January 2019- Present
  </p>
  <p>Integral team member on Google Cloud’s which owns, maintains complex SDK, working closely with multiple products
      and distinguished developers, QA engineers, architects, and managers to improve various features ultimately to
      drive high-quality production.
  </p>
  <ul type="arrow">
      <li>Owned several processes primarily fix bugs through effective diagnosis, resolution, or implementation of new
          investigation tools to increase productivity for customer issues across various products on Google Cloud
          Platform.
      </li>
      <li>Worked with cross-functional teams on new feature development/enhancements from the planning stage through
          execution to product launch.</li>
      <li>Designed, developed RESTful API with Python and modern frameworks like Flask.</li>
      <li>Document activities from design to completion and participate in testing of projects.</li>
      <li>Leveraged Google’s proprietary automated testing infrastructure to ensure the perfect user experience
          at all stages.</li>
      <li>Embrace continuous integration and continuous deployments (CI/CD) pipelines in Cloud.</li>
  </ul>
  <p>Environment:  Python 3.6, YAML, PyUnit, PyTest, Cent OS, Google Cloud Platform (GCP), Google Big Query (GBQ)
  </p>
  <p>Chemist Warehouse, Sydney, NSW<br>
      Software Engineer<br>
      December 2016 - December 2018
  </p>
  <p>Design, develop and maintain large-scale application for data ingestion, automation as well as tools to better
      analyze the data ultimately empowering my team with insights from varied data sources.
  </p>
  <ul type="arrow">
      <li>Spearheaded infrastructure improvements on numerous ETL processes by porting legacy processes to cloud based
          concurrent processes</li>
      <li>Architect asynchronous event-based communication between microservices to implement near real-time streaming
          data pipelines with Cloud functions and PubSub.</li>
      <li>Implemented modern techniques like continuous integration and automated deployments with Jenkins as well as
          integrated them in GitHub.</li>
      <li>Worked with RESTful APIs to extract data, parse and generating meaningful JSON data.</li>
      <li>Developed test cases and unit tests not as an afterthought but as part of the job.</li>
      <li>Implemented large-scale near real-time streaming data processing pipelines using mirco-services and modern
          message brokers like RabbitMQ.</li>
      <li>Identified redundancies and developed internal libraries for developers to leverage work.</li>
      <li>Developed complex ETL processes to enable stakeholders to take data driven decisions.</li>
      <li>Responsible for delivering data as a service framework from Google Cloud Platform (GCP).</li>
      <li>Developed various sanity check processes to ensure data integrity and find out data discrepancies.</li>
  </ul>
  <p>Environment:  Python 2.7.13, PyUnit, PyTest, GitHub, JSON, Virtual Environments, Ubuntu, RabbitMQ, Kafka, Shell,
      BASH, SSH, GREP
  </p>
  <p>ANZ, Sydney, NSW<br>
      Software Engineer<br>
      March 2016- November 2016</p>
  <p>Part of Agile development team working in a startup environment in a large enterprise responsible to work on
      various projects, new initiatives as well as collaborate with numerous teams across ANZ.
  </p>
  <ul type="arrow">
      <li>Designed and developed Restful API internally in the company using Python Virtual environments,
          micro-frameworks like Flask and modern libraries like requests.</li>
      <li>Ensured code quality by writing unit tests using PyUnit and automated this testing using GitHub and Jenkins.</li>
      <li>Worked on Python libraries like paramiko for SSH connection establishment to production machines.</li>
      <li>Worked closely with software developers and DevOps to debug software and system problems.</li>
      <li>Used Python web framework Django APIs to access databases.</li>
      <li>Wrote Python code using Ansible Python API  to automate cloud deployment process.</li>
  </ul>
  <p>Environment:  Python 2.7, Django 1.4, PyQT, MySQL, Windows, Linux, HTML, CSS, Apache, SSH, Linux, GitHub.</p>
  <p>Beattie Pvt Ltd, Adelaide, SA<br>
      Software Engineer<br>
      November 2015 - February 2016
  </p>
  <ul type="arrow">
      <li>Used Python for data analytics, data wrangling and extracting data using Pandas, Pyexcel, NumPy and SciPy.</li>
      <li>Used Pandas library in Python for statistical analysis.</li>
      <li>Developed python code to extract information from XML files using DOM modules.</li>
      <li>Developed scripts using Python, Shell scripting, XML to automate some of the menial tasks.</li>
      <li>Documented entire automation processes, procedures, installations, configurations, and projects.</li>
  </ul>
  <p>Avana Consulting Pvt Ltd, Bangalore, India<br>
      Associate Software Engineer<br>
      January 2010 - May 2012
  </p>
  <ul type="arrow">
      <li>Worked with teams of 25+ at all stages of full-cycle development and deploy production ready application.</li>
      <li>Perform high level data flow design and analysis to ensure various stakeholders are on the page.</li>
      <li>Developed Merge jobs in Python to extract and load data into MySQL database.</li>
      <li>Responsible for generating and delivering the complete test status reports.</li>
      <li>Debugging and solving complex technical networking issues.</li>
      <li>Worked with JSON based REST Web services.</li>
      <li>Worked in an Agile development environment. </li>
  </ul>
  <p>Environment:  Python 2.7, Django 1.4, MySQL, Windows, Linux, HTML, CSS, JQuery, JavaScript, Apache, Linux.
  </p>

  <p>SKILL MATRIX</p>
  <p>Python (5+ years), RESTful API (4 years), JSON (4 years), Test Driven Development (3 years),
      PyUnit (3 years), MySQL (2 years), Java (1 year), JUnit (1 year)
  </p>
  <p>EDUCATION</p>

    <table>
         <tr>
            <th>Educational Institution</th>
            <th>Major Area</th>
             <th>Grad Year</th>
         </tr>
        <tr>
            <td>Federation University, Australia</td>
            <td>MS,Information Systems</td>
            <td>July 2012-July 2014</td>
        </tr>
        <tr>
            <td>Prathyusha Institute of Technology and management</td>
            <td> B.E, Computer Science Engineering</td>
            <td>August 2005 – November 2009</td>
        </tr>
    </table>
  {% endblock %}
</body>
</html>