{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block pagecontent %}
    {% include 'partials/nav-bar.html' %}
    <p>Contact Details</p>
    <p>Email: hiten.0387@gmail.com</p>
    <p>Phone: (929) 459-9922</p>
    <p>Address: 130 Descanso Drive, San Jose, CA 95134</p>
    <p>GitHub:<a href="https://github.com/hiteng">https://github.com/hiteng</a></p>
    <p>LinkedIn:https:<a href="//www.linkedin.com/in/hitendragullapalli/">//www.linkedin.com/in/hitendragullapalli/</a></p>

    {% endblock %}
  </body>
</html>